# 应用配置
# 品牌名称
NEXT_PUBLIC_BRAND_NAME=Enclave

# 品牌副标题
NEXT_PUBLIC_BRAND_SUBTITLE=区块链上的私有银行

# Logo 图标路径（相对于 public 目录）
NEXT_PUBLIC_LOGO_ICON=/icons/logo-icon.png

# Logo 尺寸（像素）
NEXT_PUBLIC_LOGO_WIDTH=34
NEXT_PUBLIC_LOGO_HEIGHT=34

# Favicon 路径（相对于 public 目录）
NEXT_PUBLIC_FAVICON=/icons/bunny.svg

# WalletConnect Project ID
# 从 https://cloud.walletconnect.com/ 获取
# 如果未配置，当没有检测到浏览器钱包时将无法使用 WalletConnect 连接
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# ===== 主题配置 - 深色模式 =====
# 背景色
NEXT_PUBLIC_THEME_BG_BASE=#151515
NEXT_PUBLIC_THEME_BG_SURFACE=#242424
NEXT_PUBLIC_THEME_BG_OVERLAY=#1515154d
NEXT_PUBLIC_THEME_BG_HAIRLINE=#FFFFFF0d

# 文字颜色
NEXT_PUBLIC_THEME_TEXT_MAIN=#F4F4F4
NEXT_PUBLIC_THEME_TEXT_MUTED=#939393
NEXT_PUBLIC_THEME_TEXT_DANGER=#B73C3C
NEXT_PUBLIC_THEME_TEXT_ON_PRIMARY=#13131C

# 边框颜色
NEXT_PUBLIC_THEME_BORDER_LINE=#3A3A3A

# 主色
NEXT_PUBLIC_THEME_PRIMARY=#E5F240

# 黑色系列
NEXT_PUBLIC_THEME_BLACK_1=#1D1D1D
NEXT_PUBLIC_THEME_BLACK_2=#242424
NEXT_PUBLIC_THEME_BLACK_3=#2A2A2A
NEXT_PUBLIC_THEME_BLACK_4=#3A3A3A
NEXT_PUBLIC_THEME_BLACK_9=#939393

# ===== 主题配置 - 浅色模式 =====
# 背景色
NEXT_PUBLIC_THEME_LIGHT_BG_BASE=#FFFFFF
NEXT_PUBLIC_THEME_LIGHT_BG_SURFACE=#F5F5F5
NEXT_PUBLIC_THEME_LIGHT_BG_OVERLAY=#0000000d
NEXT_PUBLIC_THEME_LIGHT_BG_HAIRLINE=#0000000d

# 文字颜色
NEXT_PUBLIC_THEME_LIGHT_TEXT_MAIN=#13131C
NEXT_PUBLIC_THEME_LIGHT_TEXT_MUTED=#3A3A3A
NEXT_PUBLIC_THEME_LIGHT_TEXT_DANGER=#B73C3C
NEXT_PUBLIC_THEME_LIGHT_TEXT_ON_PRIMARY=#13131C

# 边框颜色
NEXT_PUBLIC_THEME_LIGHT_BORDER_LINE=#D1D1D1

# 主色
NEXT_PUBLIC_THEME_LIGHT_PRIMARY=#E5F240

# 黑色系列
NEXT_PUBLIC_THEME_LIGHT_BLACK_1=#1D1D1D
NEXT_PUBLIC_THEME_LIGHT_BLACK_2=#242424
NEXT_PUBLIC_THEME_LIGHT_BLACK_3=#2A2A2A
NEXT_PUBLIC_THEME_LIGHT_BLACK_4=#3A3A3A
NEXT_PUBLIC_THEME_LIGHT_BLACK_9=#939393

